@charset "UTF-8";

@font-face {
  font-family: 'idroid';
  src: url(fontes/idroid.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing : border-box;
}
h1 {
  margin: 0px;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b4d38b;
}
header {
  margin: auto;
  text-align: center;
  background-image: linear-gradient(to bottom, #008C41, #319608);
  color: white;
  padding-top: 35px;
  padding-bottom: 5px;
}
header > h1 {
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 20px;
}
nav > a {
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  color: white;
}
nav > a:hover {
  background-color: #008000;
}
section {
  margin: auto;
  background-color: white;
  width: 75%;
  padding: 10px 15px;
}
section > h1, h2 {
  padding: 2px;
  text-indent: 10px;
}
div > p {
  text-indent: 30px;
  text-align: justify;
}
.fonte {
  font-family: idroid, Arial, Helvetica, sans-serif;
}
.titulo-enfeitado {
  background-image: linear-gradient(to right, #30960890, white);
}
img {
  width: 100%;
  display: block;
  margin: 0px auto;
}
iframe {
  padding: 20px 40px;
  background-color: #008000;
  display: block;
  margin: 0px auto;
  width: 75%;
}
div#extra {
  background-color: #99b190;
  border-radius: 5px;
  border-radius: 10px 10px 10px 10px;
}
div#extra > h2 {
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px;
  color: white;
  margin: 0px;
  background-color: #62725d;
}
div#extra > p {
  margin: 0px;
  padding: 10px 10px;
}
footer {
  padding: 1px;
  font-size: 0.8em;
  text-align: center;
  background-color: #008000;
}
